Q1. Write a Python program (def function) to find the sum of all even numbers in an any given range, but exclude any numbers divisible by 5.
Test your function for numbers in a range 1 to 200, and print the following sentence using string and variables. "The sum of even numbers within the range  1  and  200 , excluding multiples of 5, is: ... (your result)"

Q2. Calculate and plot the average temperature variation for 3 cities as given below (use a loop for average calculation). For the plot, include titles and labels, and set the tick label size to 10 for both the x-axis and the y-axis

In [ ]:
cities = ['City A', 'City B', 'City C']
temperatures = [
    [25, 28, 23, 26],  # Temperature values for City A (in °C)
    [22, 24, 21, 19],  # Temperature values for City B (in °C)
    [27, 26, 28, 30],  # Temperature values for City C (in °C)
]

Q3. Create a dataframe from a dictionary of series, including different types of data. Then, calculate the average value of a numeric column in the dataframe and print it along with the shape of the dataframe

Q4. Load the dataset from the 'climate.csv' file into a DataFrame called 'climate' and create a line plot for temperature variation comparison for 'United States', 'Canada', 'United Kingdom'. Add appropriate labels to the x-axis and y-axis, and provide a title for the plot.

Q5. Create a 2-dimensional array using np.arange() and reshape()

Q6. 4. print out the numbers from 50 to 0 in steps of 5, using while loop